#result { 
    white-space: pre; 
    font-family: monospace; 
    background-color: #063596;
    border-radius: 3px;
    padding: 1em;
    color: #ffffff;
    max-height: 500px;
    overflow-y: scroll;
}